build generic amd64 arm64 ppc64el s390x
build generic-64k arm64
option desktop
option server
transitional 470-oem-20.04 470-generic-hwe-24.04 amd64
transitional 510-oem-20.04 535-generic-hwe-24.04 amd64
transitional 470-generic-hwe-20.04 470-generic-hwe-24.04 amd64
transitional 510-generic-hwe-20.04 535-generic-hwe-24.04 amd64
transitional 470-server-generic-hwe-20.04 470-server-generic-hwe-24.04 amd64
transitional 510-server-generic-hwe-20.04 535-server-generic-hwe-24.04 amd64
transitional 470-generic-hwe-20.04-edge 470-generic-hwe-24.04-edge amd64
transitional 510-generic-hwe-20.04-edge 535-generic-hwe-24.04-edge amd64
transitional 470-server-generic-hwe-20.04-edge 470-server-generic-hwe-24.04-edge amd64
transitional 510-server-generic-hwe-20.04-edge 535-server-generic-hwe-24.04-edge amd64
transitional 470-oem-22.04 470-generic-hwe-24.04 amd64
transitional 525-oem-22.04 525-generic-hwe-24.04 amd64
transitional 525-open-oem-22.04 525-open-generic-hwe-24.04 amd64
transitional 535-oem-22.04 535-generic-hwe-24.04 amd64
transitional 535-open-oem-22.04 535-open-generic-hwe-24.04 amd64
transitional 545-oem-22.04 545-generic-hwe-24.04 amd64
transitional 545-open-oem-22.04 545-open-generic-hwe-24.04 amd64
transitional 470-oem-22.04d 470-generic-hwe-24.04 amd64
transitional 525-oem-22.04d 525-generic-hwe-24.04 amd64
transitional 525-open-oem-22.04d 525-open-generic-hwe-24.04 amd64
transitional 535-oem-22.04d 535-generic-hwe-24.04 amd64
transitional 535-open-oem-22.04d 535-open-generic-hwe-24.04 amd64
transitional 545-oem-22.04d 545-generic-hwe-24.04 amd64
transitional 545-open-oem-22.04d 545-open-generic-hwe-24.04 amd64
